@import 'util';
@import 'colors';

main {
  flex: 1;
  position: relative;
  background-color: $white;
  @include flex-center;

  h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}